.sudoku-grid {
    -fx-background-color: white;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-cell-border: solid 10px red;
}
#celltext {
    -fx-font: 32px Fixed;
}

#headingtext {
    -fx-font: bold 32px Serif;
    -fx-text-fill: slateblue;
}
